@{
    ViewData["Title"] = "Home Page";
}

<div class="section home">
    @{
        if (TempData["PublishSuccess"] is not null)
        {
            <ul class="text-success">
                <li>@TempData["PublishSuccess"]</li>
            </ul>
        }
    }

    <div class="text-center">
        <h1 id="welcome">Welcome, @User.Claims.First(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name").Value</h1>
        <br />
   
        @{
            if (User.Claims.First(c => c.Type == "Approved").Value == "True")
            {
                var userPositionClaim = User.Claims.FirstOrDefault(c => c.Type == "Position");

                <div id="links">
                    <a class="homeAnch" asp-controller="Report" asp-action="Drafts">Draft Reports</a>
                    <br />

                    <a class="homeAnch" asp-controller="Report" asp-action="Published">Published Reports</a>
                    <br />
            
                    @if (User.Identity != null && User.Identity.IsAuthenticated && userPositionClaim.Value == "Seacht") 
                    {
                        <a class="homeAnch" asp-controller="Report" asp-action="SeachtPublished">Reports Published for Seacht</a>
                    }

                    <hr />

                    <p>
                    Give yourself <a asp-controller="Account" asp-action="SeachtRights">Seacht Privileges</a> (Seacht being the parent company)
                    <br />
                    Give yourself <a asp-controller="Account" asp-action="SaithRights">Saith Privileges</a> (Saith being the daughter company)
                    <br />
                    Give yourself <a asp-controller="Account" asp-action="AdminRights">Admin Privileges</a>
                    <br />
                    Give yourself <a asp-controller="Account" asp-action="UserRights">User Privileges</a>
                    </p>

                </div>
            } 
            else
            {
                <p><em>You are currently unapproved. Please contact IT</em></p>

                <p>It is <strong><em>strongly recommended</em></strong> to read the readme of this project whilst using the app. Find it <a href="https://github.com/MateenSQ/BusinessReportingLocal/tree/LocalDataVersion" target="_blank">here</a>.</p>

                <a asp-controller="Account" asp-action="ApproveSelf">Approve yourself (will log you out and you will need to log back in for changes to have effect)</a>
            }
        }

        <div class="section space"></div>
    
    </div>

    <br />

    @* @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <table id="HomeClaims">
            @foreach (var claim in User.Claims)
            {
                <tr>
                    <td>@claim.Type</td>
                    <td>@claim.Value</td>
                </tr>
            }
        </table>
    } *@
</div>