@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="section">
    <h1>Manage</h1>

    <div>
        <a class="homeAnch" asp-controller="Account" asp-action="PersonalInformation">Manage Personal Information</a>
        <br />

        @if (User.Claims.FirstOrDefault(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role").Value == "Admin")
        {
            <a class="homeAnch" asp-controller="Admin" asp-action="ManageUsers">Manage Other Users</a>
        }
        
    </div>
</div>
