@model BusinessReportingMVC.ViewModels.PersonalInfoViewModel

@{
}

<div class="section">
    <h1>Personal Info</h1>

    <br />

    <p><strong>Name:</strong>   @Model.Name</p>
    <p><strong>Email:</strong>   @Model.Email</p>
    <p><strong>Position:</strong>   @Model.Position</p>
    <p><strong>Role:</strong>   @Model.Role</p>
</div> 