@model BusinessReportingMVC.ViewModels.PersonalInfoViewModel

<div class="section">
    <h1>Edit User</h1>

    <form asp-controller="Admin" asp-action="EditUser" method="post">
        <input asp-for="Id" type="hidden"/>

        <table class="table">
            <tr>
                <td>
                    <strong>Name:</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Email:</strong>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <strong>Approved:</strong>
                    </label>
                </td>
                <td>
                    <select asp-for="Approved">
                        @if(Model.Approved == true) 
                        {
                            <option value="true">True</option>
                            <option value="false">False</option>
                        }
                        else
                        {
                            <option value="false">False</option>
                            <option value="true">True</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <strong>Position:</strong>
                    </label>
                </td>
                <td>
                    <select asp-for="Position">
                        @if (Model.Position == "MD") 
                        {
                            <option value="MD">Managing Director</option>
                            <option value="Seacht">Seacht</option>
                        }
                        else 
                        {
                            <option value="Seacht">Seacht</option>
                            <option value="MD">Managing Director</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <strong>Role:</strong>
                    </label>
                </td>
                <td>
                    <select asp-for="Role">
                        @if (Model.Role == "User")
                        {
                            <option value="User">User</option>
                            <option value="Admin">Admin</option>
                        }
                        else
                        {
                            <option value="Admin">Admin</option>
                            <option value="User">User</option>
                        }
                    </select>
                </td>
            </tr>
        </table>

        <div class="saveDiv">
            <input class="button" type="Submit" value="Save" name="SaveReport" />
        </div>

    </form>
</div>