
<div class="section">
    <a style="margin-bottom: 5%;" asp-action="Drafts">< Back</a>

    <form asp-controller="Report" asp-action="CreateNew" method="post">
        <input type="Submit" value="Create New Report from Scratch" />
    </form>
</div>